@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="ScanIp" asp-action="Index" class="btn btn-primary btn-lg mt-3">
        🔍 Scan IP
    </a>
    <a asp-controller="NSLookup" asp-action="Index" class="btn btn-primary btn-lg mt-3">
        🔍 NSLookup
    </a>
</div>
