html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar{
    padding: 10px 130px;
    font-size: 18px;
}
.navbar-brand{
    font-size:20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    line-height: 1.2rem;
}
.navbar-brand img.logo {
    height: 60px;
    margin-left: 5px;
}
.logo-container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-container .ten_logo{
    font-weight: 600;
}
.logo-container .tieude_logo{
    font-size: 12px;
    font-weight: 200;
    opacity: 0.7;
}

.custom-menu .nav-item{
    padding-right: 20px;
}
.custom-menu .nav-item:last-child{
    padding-right: 0;
}
.nav-link{
    text-transform: uppercase;
}

/*layout*/

.custom-menu .nav-link:hover {
    color: var(--primary-color-hover);
    border-bottom: 3px solid var(--primary-color-hover);
    animation: slide-right 1s;
}

@keyframes slide-right {
    from {
        opacity: 0.4;
        transform: translateX(-8px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*.custom-menu .nav-link {
    color: #ffffff;
    position: relative;
    display: inline-block;
}
.custom-menu .nav-link::after,
.custom-menu .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.custom-menu .nav-link::before {
    top: -5px;
    transform-origin: left;
}

.custom-menu .nav-link:hover::after,
.custom-menu .nav-link:hover::before {
    transform: scaleX(1);
    color: var(--primary-color-hover);
}*/


/*footer*/
.footer {
    color: #ccc;
    padding: 40px 0 20px;
    font-size: 14px;
    border-top: 1px solid #555;
    display: block;
    height: 10%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
    margin-left: 240px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-item {
    margin-bottom: 2px;
    line-height: 1.6;
    margin-bottom: 10px;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: break-word;
    transition: color 0.3s, transform 0.2s;
}

    .footer-item:hover {
        color: #73b64f;
        transform: translateX(5px);
    }

    .footer-item a {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .footer-item a:hover {
            color: #73b64f;
        }

/* Social icons */
.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

    .social-list li a {
        display: inline-block;
        margin-right: 10px;
        width: 45px;
        height: 45px;
        background: #333;
        color: #666;
        text-align: center;
        line-height: 45px;
        border-radius: 50%;
        font-size: 22px;
        position: relative;
        transition: .5s;
    }

        .social-list li a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #73b64f;
            transform: scale(.9);
            z-index: -1;
            transition: .5s;
        }

        .social-list li a:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 10px #73b64f;
        }

        .social-list li a:hover {
            color: #73b64f;
            text-shadow: 0 0 5px #73b64f;
        }
/* Footer bottom */
.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}



